<h1 class="text-center">Detalhes</h1>
<hr>
<ul>
    <li><span>status: {{det.compra_status}} </span></li>
    <li>nome: {{det.nome}}</li>
    <li>endereço: {{det.logradouro}} {{det.numero}} {{det.cidade}} {{det.estado}} {{det.cep}}</li>
    <li>data da compra: {{det.data_compra}}</li>
</ul>